Calculate nCr

In [8]:
def fact(num):
    fact=1
    for i in range(1,num+1):
        fact*=i
    return fact

n=int(input("Enter n value:"))
r=int(input("Enter r value:"))
print(fact(n)/(fact(r)*fact(n-r)))

3.0

WAP to sum the prime digits from a list

In [31]:
def isprime(num):
    prime=True
    for i in range(2,num):
        if(num%i==0):
            prime=False
    return prime
            

l=[3,2,5,7,9,2,5,8,3,7,9,3,5]
sum=0
for i in l:
    if(isprime(i)):
        sum+=i
print(sum)

42

WAP to print sum of single digit elements of a list

In [32]:
def prime_sum(l):
    sum=0
    for i in l:
        if i==2 or i==3 or i==5 or i==7 :
            sum+=i
    return sum
            

l=[3,2,5,7,9,2,5,8,3,7,9,3,5]
print(sum)

42

In [35]:
def print_info(name,id,age):
    print("Your name and id is ",name,id)
    print("Your age is ",age)
print_info(name="yash",age=22,id="yc384")

Your name and id is  yash yc384
Your age is  22

In [38]:
def sum(a,b):
    sum=a+b
    print("Sum is",sum)
def multi(a,b):
    mul=a*b
    print("Multiplication is",mul)
a=int(input("Enter first no. "))
b=int(input("Enter second no. "))
sum(a,b) 
multi(a,b)

Sum is 20
Multiplication is 100

In [43]:
# temp store data in the form of tuple
def add(* temp):
    x=0
    for i in temp:
        x+=i
    print(x)
add(1,2,3,4)
add(1,2,3,4,5)
add(1,2,3,4,5,6,7,8,9,0)
add(1,1,1,1,1,1,1,1,1,1)

10
15
45
10

lambda argument : expression
it return function instead of value

In [ ]:
print((lambda x : x**3)(3))

27

In [45]:
fun=lambda x : x**3
print(fun(4))

64

In [54]:
fun=lambda x: "Even" if x%2==0 else "Odd"
fun(30)

'Even'

In [64]:
def isprime(n):
    for i in range(2,n):
        if(n%i==0):
            return False
    return True

n=int(input("Enter number :"))
print((lambda n:"prime" if isprime(n) else "Not a prime")(n))

Not a prime

In [4]:
fun=lambda x : "Prime" if x==2 or x==3 or x==5 or x==7 else "Not a prime"
print(fun(6))

Not a prime

High order function

In [5]:
l=[3,5,7,2,8]
x=list(map(lambda x:x**2,l))
print(x)

[9, 25, 49, 4, 64]

In [10]:
# calculate area of circle using given list of radius
lst=[1.25,3.22,4.68,10.95,12,23.55]
x=list(map(lambda x: 3.14*x**2,lst))
print(x)

[4.90625, 32.556776000000006, 68.773536, 376.49385, 452.16, 1741.4518500000004]

In [12]:
l=["Hello","Global","College","XYZ"]
x=list(map(lambda x:len(x),l))
print(x)

[5, 6, 7, 3]

Syntax : filter(function,sequence)

In [14]:
l=[2,3,4,5,6,7,8,9]
var=list(filter(lambda x : x>=4 ,l))
print(var)

[4, 5, 6, 7, 8, 9]

In [15]:
lst=['abc','xyz','bca','abd','Asd','bcd']
var=list(filter(lambda x: x[0]=='a'or x[0]=='A',lst))
print(var)

['abc', 'abd', 'Asd']

reduce() performs rolling computations

In [16]:
from functools import reduce
l=[1,2,3,4,5]
y=reduce(lambda x,y:x+y,l)
print(y)

15

In [23]:
from functools import reduce
l=[1,2,3,4,5,4,3,2,4]
y=reduce(lambda x,y:max(x,y),l)
z=reduce(lambda x,y:x if x<y else y ,l)

print(y)
print(z)

5
1

Reverse key and value of given dictionary using dictionary comprehension

In [30]:
dct={'x':1,'y':2,'z':3}
d={v:k for k,v in dct.items()}
print(d)

{1: 'x', 2: 'y', 3: 'z'}